.header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;  
    box-shadow:  0px 5px 17px -5px gray;
    border-radius: 0 0 5px 5px;
    background: white;
    z-index: 10;
  }
  .header > div{
      width: 15%;
      justify-content: center;
      display: flex;
      align-self: stretch;
      align-items: stretch;
  }
  .header a {
    display: flex;
    flex-grow: 1;
    text-decoration: none;
    color: #24292e;
    justify-content: center;
  }

.header > div:hover {
    box-shadow:  0px 5px 17px -5px gray;
} 

  .header a span{
      align-self: center;
      text-decoration: none
  }